body{
    background-color: #f0f0f0;
}

#main{
    width: 100%;
    
    display: grid;
    grid-template-rows: 64px 1fr;
}
#navigation{
    position: relative;
    
    border-bottom: solid 1px #102040;
    
    background-color: #204080;
}
#home{
    left: 16px;
}
#login{
    right: 16px;
}
#content{
    width: 50%;
    margin: 32px auto 0 auto;
    
    display: flex;
    flex-direction: column;
    gap: 32px;
}