*{
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
}
body{
    margin: 0;
}

hr{
    border: none 0;
    border-top: solid 1px #202020;
}
a{
    text-decoration: none;
}
img{
    background-color: #ffffff;

    border: solid 1px #202020;
}

.navigation-button{
    padding: 8px;

    border: solid 1px #f0f0f0;

    color: #f0f0f0;

    user-select: none;
}
.box{
    padding: 24px 32px;

    word-wrap: break-word;

    border: solid 1px #808080;
    background-color: #ffffff;
}
.box-header > *:first-child, .box > *:first-child{
    margin-top: 0;
}
.box-header > *:last-child, .box > *:last-child{
    margin-bottom: 0;
}
.box-hr{
    margin: 0;
    
    border: none 0;
    border-top: solid 1px #808080;
}

.button {
    padding: 4px 8px;

    background-color: #f0f0f0;

    border: solid 1px #202020;
    border-radius: 0;
}