{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjLog | {% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'blog/base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/general.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div id="main">
        <div id="navigation">
            <a href="/"><div id="home" class="navigation-button">Home</div></a>
            {% if not loggedin %}
                <a href="/login"><div id="login" class="navigation-button">Login</div></a>
                <a href="/signup"><div id="signup" class="navigation-button">Signup</div></a>
            {% else %}
                <a href="/logout"><div id="logout" class="navigation-button">Logout</div></a>
            {% endif %}
        </div>
        <div id="content-wrapper">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>