{% extends "blog/base.html" %}
{% load static %}

{% block title %}{{ post_title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock %}

{% block content %}
<div class="box-header" id="header">
    <div>
        <h1 id="header-title">{{ post_title }}</h1>
        <p id="header-tagline">{{ post_tagline }}</p>
    </div>
    <div>
        <p id="header-author">by <i>{{ post_author }}</i></p>
        <p id="header-date">on {{ post_date }}</p>
    </div>
</div>
<hr class="box-hr">
<div class="box">
    {{ post_content | safe }}
</div>
{% endblock %}